<form (ngSubmit)="onSubmit()" [formGroup]="form" #ngForm="ngForm">
  <div class="row">
    <mat-form-field class="col-12">
      <mat-label>Username</mat-label>
      <input
        [value]="user?.username"
        matInput
        formControlName="username"
        matInput
        [placeholder]="'Username'"
        type="text"
      />
      <mat-error>
        <span
          *ngIf="form.hasError('required', 'username') || form.hasError('whitespace', 'username')"
        >
          Este campo es requerido.
        </span>
        <span *ngIf="form.hasError('maxlength', 'username')">
          No puede tener mas de 80 caracteres.
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>Nombre</mat-label>
      <input
        [value]="user?.name"
        matInput
        formControlName="name"
        [placeholder]="'Nombre'"
        type="text"
      />
      <mat-error>
        <span *ngIf="form.hasError('required', 'name') || form.hasError('whitespace', 'name')">
          Este campo es requerido.
        </span>
        <span *ngIf="form.hasError('maxlength', 'name')">
          No puede tener mas de 80 caracteres.
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>Apellidos</mat-label>
      <input
        [value]="user?.lastName"
        matInput
        formControlName="lastName"
        matInput
        [placeholder]="'Apellidos'"
        type="text"
      />
      <mat-error>
        <span
          *ngIf="form.hasError('required', 'lastName') || form.hasError('whitespace', 'lastName')"
        >
          Este campo es requerido.
        </span>
        <span *ngIf="form.hasError('maxlength', 'lastName')">
          No puede tener mas de 80 caracteres.
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>Edad</mat-label>
      <input
        [value]="user?.age"
        matInput
        formControlName="age"
        matInput
        [placeholder]="'edad'"
        type="number"
      />
      <mat-error>
        <span *ngIf="form.hasError('required', 'age') || form.hasError('whitespace', 'age')">
          Este campo es requerido.
        </span>
        <span *ngIf="form.hasError('maxlength', 'age')">
          No puede tener mas de 80 caracteres.
        </span>
      </mat-error>
    </mat-form-field>
    <div class="col-12">
      <div class="row justify-content-end">
        <button
          class="col-auto"
          style="margin-right: 10px"
          type="button"
          mat-button
          (click)="back()"
        >
          Cancelar
        </button>
        <button
          class="col-auto"
          [disabled]="(ngForm.submitted && form.invalid)"
          color="accent"
          type="submit"
          mat-flat-button
        >
          Actualizar
        </button>
      </div>
    </div>
  </div>
</form>
