<form (ngSubmit)="onSubmit()" [formGroup]="form" #ngForm="ngForm">
  <div class="row">
    <mat-form-field class="col-12">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" matInput [placeholder]="'Email'" type="text" />
      <mat-error>
        <span *ngIf="form.hasError('required', 'email') || form.hasError('whitespace', 'email')">
          Este campo es requerido.
        </span>
        <span *ngIf="form.hasError('maxlength', 'email')">
          No puede tener mas de 80 caracteres.
        </span>
        <span *ngIf="form.hasError('emailValid', 'email')">
          Proporcione un correo electronico válido.
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>Contraseña</mat-label>
      <input
        name="password"
        [type]="showFieldPassword ? 'password' : 'text'"
        formControlName="password"
        matInput
        [placeholder]="'Contraseña'"
      />
      <mat-icon matSuffix (click)="showPassword()">
        {{showFieldPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error>
        <span *ngIf="form.hasError('required', 'password')"> Este campo es requerido. </span>
        <span *ngIf="form.hasError('maxlength', 'password')">
          No puede tener mas de 30 caracteres.
        </span>
      </mat-error>
    </mat-form-field>
    <div class="col-12">
      <div class="row justify-content-end">
        <button
          class="col-auto"
          [disabled]="(ngForm.submitted && form.invalid)"
          color="accent"
          type="submit"
          mat-flat-button
        >
          Iniciar Sesión
        </button>
      </div>
    </div>
  </div>
</form>
